/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-title{
    /*margin-top: 1%;*/
    margin-left: 1% !important;
    /*margin-right: 3%;*/
    font-size: 23px;
    font-weight: bold;
    /*background-color: white;*/
    padding-left: 10px;
    border-radius: 10px;
    width: 96%;
    /* color: deepskyblue;*/
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statistics-form {
    margin-left: 2%;
    margin-top: 1%;
    background-color: white;
    height: 150px;
    width: 500px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.statistics-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
    margin-right: 50px;
}

.statistics-form-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.el-collapse {
    margin-top: 1%;
    border-radius: 18px;
    overflow: hidden;
}

.el-collapse-item__header {
    border-radius: 18px 18px 0 0;
}

.el-collapse-item__wrap {
    border-radius: 0 0 18px 18px;
}

:deep() .el-collapse-item__header {
    /*background-color: deepskyblue;*/
    width: 96%;
    margin-left: 1%;
}

:deep() .el-collapse-item__wrap {
   width: 96%;
    margin-left: 1%;
}

:deep() .el-table__header {
    background-color: var(--vt-c-white-soft);
}

.toolbarName {
    display:flex;
    justify-content: left;
    align-items: center;
    margin-left: 1%;
    color: #667eea;
    font-size: large;
}

.toolbar-action-row {
    /*width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 12px;*/
    display: flex;
    flex-direction: row;
    float: right;
    margin-bottom: 10px;
}

.currency-tabs {
    margin-left: 1%;
}

.currency-tabs-label {
    color: black;
    font-size: small;
}

.el-tabs--card > .el-tabs__header {
    border-radius: 12px;
    overflow: hidden;
}

.el-tabs--card > .el-tabs__header .el-tabs__item {
    border-radius: 10px 10px 0 0;
}

.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
    border-radius: 10px 10px 0 0;
}

.el-tabs--border-card {
    border-radius: 12px;
    overflow: hidden;
}

.el-tabs--border-card > .el-tabs__header {
    border-radius: 12px 12px 0 0;
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item {
    border-radius: 10px 10px 0 0;
}

.el-table {
    border-radius: 12px;
    overflow: hidden;
}

.cash-text-area {
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    font-size: xxx-large;
    text-align: right;
}

.statics-title {
    text-align: right;
    width: 90%;
    font-size: larger;
}

.main-toolbar .el-input__inner,
.main-toolbar .el-input__wrapper,
.main-toolbar .el-select__input,
.main-toolbar .el-select__placeholder,
.main-toolbar .main-toolform-input {
    text-align: center;
}

.main-toolbar .el-input__inner::placeholder,
.main-toolbar .el-select__input::placeholder {
    text-align: center;
}

.toolbar .el-input__inner,
.toolbar .el-input__wrapper,
.toolbar .el-select__input,
.toolbar .el-select__placeholder,
.toolbar .main-toolform-input {
    text-align: center;
}

.toolbar .el-input__inner::placeholder,
.toolbar .el-select__input::placeholder {
    text-align: center;
}

:deep() .filterButton {
    color: dodgerblue;
    margin: 0 !important;
    display: flex;
}

:deep(.el-switch.is-disabled .el-switch__core){
    background-color: #c0c4cc;
    border-color: #c0c4cc;
}

:deep(.el-switch.is-disabled.is-checked .el-switch__core){
    background-color: #07c160;
    border-color: #07c160;
}

:deep(.el-switch){
    --el-switch-on-color: #07c160;
    --el-switch-off-color: #c0c4cc;
}

:deep(.el-form-item__label) {
    align-items: center;
}

:deep(.el-switch .el-switch__label) {
    color: #c0c4cc;
}

:deep(.el-switch.is-checked .el-switch__label.is-active) {
    color: #07c160;
}

.filterButtonSvg {
    height: 20px;
    width: 20px;
    margin: 0;
}

.topbar {
    color: black;
    text-align: center;
    height: 5%;
    display: grid;
    align-items: center;
    width: 87%;
    /* background-color: #20b978;*/
    background-color: var(--vt-c-white-soft);
    position: absolute;
    top: 0;
    left: 13%;
}
.topbar-collapsed {
    color: black;
    text-align: center;
    height: 5%;
    display: grid;
    align-items: center;
    width: 100%;
    /*background-color: #20b978;*/
    background-color: var(--vt-c-white-soft);
    position: absolute;
    top: 0;
    left: 0;
}

.reportInfo{
    width: 96%;
    margin-left: 1%;
    margin-top: 20px;
    height: 100%;
}

:deep() .el-tabs {
    width: 100% !important;
    margin: 0 !important;
}

.pageTool {
    float:right;
    margin-right: 3%;
    margin-top: 10px;
}